{% extends "base.html.jinja" %}
{%block title%}
      
{%endblock title%}
{% block content%}
  <section style="text-align: center; font-size: 20px; margin-top: 50px;">
            <div id="profile">
              <img class="profile" src="{{ url_for('static', filename='karola.png') }}" >
              <h1 style="text-align: center; font-family: Staatliches; font-size: 40px;" id="kc">Skorusa Andrzej</h1>
              
              <p>
              Znajomość w strefie IT:
              <table>
        <thead>
            <tr>
                <th>BACKEND</th>
                <th>SIECI KOMPUTEROWE</th>
                <th>GRAFIKA</th>
                <th>SYSTEMY OPERACYJNE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>HTML</td>
                <td>MySQL</td>
                <td>GIMP</td>
                <td>Windows</td>
            </tr>
                
        </tbody>
    </table>
  
              <p>Staż i praktyki zawodowe:</p>
              <ul class="qua">
              <li>Praktyka: KTM Telekom: Sieci komputerowe </li>
              <li>Staż: POLSKIE TATRY S.A Administracja</li>
              </ul> 
            <p class="contact">Skontaktuj się!</p> 
            <ul>
            <li class="link">✉️ <a class="link" href="mailto:14690@eans-nt.edu.pl">14694@eans-nt.edu.pl</a></li>
            </ul>
          </section>
        </main>

{%endblock content %}
